html{
    scroll-behavior: smooth;
}

body{
  background-color: LightSteelBlue;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

h1{
  font-size: 50px;
  line-height: 1;
  padding: 50px 0;
  text-align: center;
}

h2{
  font-size: 32px;
  line-height: 1.5;
}

nav ul{
  list-style-type: none;
  line-height: 30px;
}

nav li{
  display: block;
  padding-right: 20px;
}

nav{
  background-color: LightSteelBlue;
  padding: 25px 0;    
  text-align: center;   
}

nav a.current{
  color: darkred;
  border: 2px double darkred;
  font-style:italic;
}

footer{
  background-color: black;
  color: white;
  padding: 5px;
  text-align: center;
}

nav a{
  color: black;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


.container{
  display: grid;
  grid-template-columns: 1fr 1fr 10fr 1fr 1fr;
}

header{
  background-image: url("../images/computer.jpg");
  background-color: darkblue;
  background-size: cover;
  height: 300px;
  background-repeat: no-repeat; 
  color: LemonChiffon;
  height: 300px;
  font-weight: bold;
}

header p{
  color: Gold;
  font-size: 24px;
  padding: 10px 40px;
  text-align: center;
}

.ic-image, .icsecond-image, .moore-image, .transistor-image, .bio-image, .optical-image, .quantum-image, .quantumsecond-image{
  grid-column: 1 / -1;
  max-height: 700px;
  overflow: hidden;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.moore-image img{
  width: 100%;
  height: auto;
  object-fit: contain;
}


.title {
  grid-row: 1 / span 1;
  grid-column: 1 / -1;
  text-align: center;
  padding: 10px;
}

.title h1{
  font-size: 40px;
}

.ic-image{
  grid-row: 2 / span 1;
}

.icsecond-image {
  grid-row: 3 / span 1;
}

.moore-image{
  grid-row: 5 / span 1;
}

.transistor-image{
  grid-row: 6 / span 1;
}

.bio-image{
  grid-row: 8 / span 1;
}

.optical-image{
  grid-row: 9 / span 1;
}

.quantum-image{
  grid-row: 10 / span 1;
}

.quantumsecond-image{
  grid-row: 11 / span 1;
}

.ic {
  grid-row: 2 / span 1;
  grid-column: 2 / span 2; 
}

.icsecond {
  grid-row: 3 / span 1;
  grid-column: 3 / span 2; 
}

.moore {
  grid-row: 4 / span 1;
  grid-column: 1 / -1; 
}

.transistor {
  grid-row: 6 / span 1;
  grid-column: 2 / span 2; 
}

.new {
  grid-row: 7 / span 1;
  grid-column: 1 / -1; 
}

.bio {
  grid-row: 8 / span 1;
  grid-column: 2 / span 2; 
}

.optical {
  grid-row: 9 / span 1;
  grid-column: 3 / span 2; 
}

.quantum {
  grid-row: 10 / span 1;
  grid-column: 2 / span 2; 
}

.quantumsecond{
  grid-row: 11 / span 1;
  grid-column: 3 / span 2; 
}


.text-block{
  background-color: rgba(255, 255, 255, .8);
  border: 5px solid black;
  border-radius: 15px;
  padding: 20px;
  place-self: center;
  margin: 10px 0;
}

@media screen and (min-width: 640px){
  nav li{
    display: inline;
  }

  .container{
    grid-template-columns: 1fr 15fr 1fr 18fr 1fr;
    grid-template-rows: repeat(9, 400px);
    grid-gap: 5px;
  }

  .ic-image, .icsecond-image,  .transistor-image, .bio-image, .optical-image, .quantum-image, .quantumsecond-image{
    grid-column: 4 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .moore-image {
    grid-column: 2 / span 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  img{
    height: auto;
    width: 100%;
    
  }

  .moore-image img{
    height: 100%;
    width: auto;
  }

  .ic, .icsecond, .transistor, .bio, .optical, .quantum, .quantumsecond{
    grid-column: 2 / span 1;
  }
  
  .moore {
    grid-column: 2 / span 3;
  }

}

@media screen and (prefers-reduced-motion: reduce){
  
}

